

html,
body { 
  height: 100%;
}

img {
  max-width: 100%;
}

/* Cover */

#cover {
  background: #222 url("img1/computer.jpg") center no-repeat;
  background-size: cover;
  color: #000000;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;

}

#cover-caption {
  width: 100%;
}

.navbar {
  width: 80%;
  margin: auto;
}


/*
.form-group {
  align-items: center;
}*/





