html {
	width: 100%;
	height: 100%;
}


body {
	width: 100%;
	height: 100%;
	/*background-color: pink;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	background-color: white;
}


p {
	font-size: 16px;
}


.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
}


.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
}


.bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
      background: #222 url("images/codeCoffee2.jpg") center no-repeat;
      background-size: cover;
      height: 700px;
}


#foot {
	height: 30px;
}


.bg-2{
	background-color: black; 
    color: white;
}


.bg-3 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
      background: #222 url("images/bag.jpg") center no-repeat;
      background-size: cover;
      height: 700px;
}


.bg-4{
	background-color: black; 
    color: white;
    /*height: 700px;*/
}


.margin {
	margin-bottom: 20px;
}


.brand {
	font-size: 100px;
	font-weight: 700px
}


a {
	text-decoration: none;
}





















