/*Minimized HTML*/

/* NON-MINIMIZED CODE UP IN GITHUB PROFILE*/



img{width: 30%;float: left;margin: 1.66%; /* 1.66 due to each pick taking 30% so 90% in total we have 10% left and 10/ 6(do to 3 images with 2 sides each needing a margin) we get 1.66% */}p{font-family: 'Raleway', sans-serif;margin-left: 1.66%;font-size: 23px;font-weight: 800;text-transform: uppercase;border-bottom: 2px solid #f1f1f1;width: 30%;padding-bottom: 20px;}.bottom{font-size: 16px;text-align: center;margin: auto;position: fixed bottom;width: 30%;border-bottom: 2px solid #f1f1f1;}